.highlight {
    animation: fadein 0.5s ease-in-out;
    background-color: #FF9999; /* Tom de vermelho claro */
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  